async-timeout
dataclasses-json
decorator
Deprecated
deprecation
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@82a57ce0b70057685962b352535147d9a8118578
Django
django-cors-headers
djangorestframework
docutils
docx2txt
hashlib
imagesize
img2pdf
joblib
jsonschema
langchain
networkx
nltk
ocrmypdf
openai
openapi-schema-pydantic
openpyxl
packaging
pathlib
pdf2image
PyMuPDF
pypdf
qdrant-client
regex
SQLAlchemy
sqlparse
tiktoken
toolz
tqdm
unstructured